{% extends 'base.html.twig' %}

{% block title %}UsersAddresses index{% endblock %}

{% block body %}
    <h1>UsersAddresses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>AddressType</th>
                <th>ValidFrom</th>
                <th>PostCode</th>
                <th>City</th>
                <th>CountryCode</th>
                <th>Street</th>
                <th>BuildingNumber</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for users_address in users_addresses %}
            <tr>
                <td>{{ users_address.addressType }}</td>
                <td>{{ users_address.validFrom ? users_address.validFrom|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ users_address.postCode }}</td>
                <td>{{ users_address.city }}</td>
                <td>{{ users_address.countryCode }}</td>
                <td>{{ users_address.street }}</td>
                <td>{{ users_address.buildingNumber }}</td>
                <td>{{ users_address.createdAt ? users_address.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ users_address.updatedAt ? users_address.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_users_addresses_show', {'user': users_address.user}) }}">show</a>
                    <a href="{{ path('app_users_addresses_edit', {'user': users_address.user}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_users_addresses_new') }}">Create new</a>
{% endblock %}
