{% extends 'base.html.twig' %}

{% block title %}Users
{% endblock %}

{% block body %}
    <section data-controller="address-edit">
        <div class="d-flex mb-3 justify-content-start align-items-center gap-2">
            <a class="btn btn-sm btn-sm" href="{{ path('app_users_index') }}">
                <twig:ux:icon name="lucide:chevron-left"/>
            </a>
            <h1 class="h5 m-0">{{ user.firstName }}
                {{ user.lastName }}</h1>
            <a href="{{ path('app_users_new') }}" class="btn btn-primary ms-auto">Create new</a>
        </div>

        <ul class="flex-column gap-2 p-0 my-4">
            {% for address in addresses %}
                <li class="d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-column small">
                        <span>{{ address.addressType }}
                            valid from
                            {{ address.validFrom|date('Y-m-d H:i') }}</span>
                        <span>{{ [address.street, address.buildingNumber, address.postCode, address.city, address.countryCode] | join(', ') }}</span>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Options
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" data-address-edit-target="editLink" href="{{ path('app_users_addresses_edit', { 'id': address.user.id, 'addressType': address.addressType, 'validFrom': address.validFrom|date('U') }) }}">edit</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="modal fade" id="editAddressModal" data-address-edit-target="modal" tabindex="-1" aria-labelledby="editAddressModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" data-address-edit-target="modalBody" id="editAddressModalBody"></div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
